
body{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

h2{
    color: #000000;
    font-size:x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


caption{
    color: rgb(0, 0, 0);
    font-size:large;
    font-weight: bolder;
}

td{
     box-shadow: 4px 4px 4px rgb(140, 138, 138);
    border: 0.20px solid rgb(3, 3, 3);
    padding: 10px;
    border-radius: 5px;
}

table{
    border-spacing: 10px;
    
} 
      
a:visited {
        color:yellow;
        text-decoration: none;
}
span.b {
    display: inline-block;
    width: 30%;
    height: 100px;
    padding: 5px;
    border: 1px solid;
    margin: 10px;
    background-color:azure;
